{% extends 'menu.html' %}
{% block content %}

<h3>SpringGrid - About</h3>

<table border="1" cellpadding="3">
<tr><td>Version:</td><td>{% if version %} {{version}} {% else %} &nbsp; {% endif %}</td></tr>
<tr><td>License:</td><td>GPL v2</td></tr>
<tr><td>Authors:</td><td><a href="http://manageddreams.com">Hugh Perkins</a>, <a href="https://github.com/gajop">Gajo Petrović<a/></td></tr>
<tr><td>Download url:</td><td><a href="https://github.com/gajop/springgrid">https://github.com/gajop/springgrid</a></td></tr>
</table>

{% endblock %}

