{% extends 'menu.html' %}
{% import 'formhelper.html' as formhelper %}
{% block bodytag %}onLoad="onModChange();"{% endblock %}
{% block content %}
<script type="text/javascript">
    function onModChange() {
        var modnameSelect = document.getElementById("modname");
        var index = modnameSelect.selectedIndex;
        var ai0side = document.getElementById("ai0side");
        while (ai0side.length != 0) {
            ai0side.remove(0);
        }
        var ai1side = document.getElementById("ai1side");
        while (ai1side.length != 0) {
            ai1side.remove(0);
        }
        
        var items = new Array();
        {% for k, v in c.sides.itervalues() %}
            items[{{k}}] = [
            {% for side in v %}
            ["{{side[0]}}", {{side[1]}}],
            {% endfor %}
            ];
        {% endfor %}
        var selectedItems = items[index];
        for (i in c.selectedItems) {
            var newOpt = document.createElement("option");
            newOpt.text = selectedItems[i][0];
            newOpt.value = selectedItems[i][1];
            try {
                ai0side.add(newOpt, null);
            } catch (ex) {
                ai0side.add(newOpt);
            }
            var newOpt = document.createElement("option");
            newOpt.text = selectedItems[i][0];
            newOpt.value = selectedItems[i][1];
            try {
                ai1side.add(newOpt, null);
            } catch (ex) {
                ai1side.add(newOpt);
            }
        }
    }
</script>

<h3>SpringGrid - submit game request</h3>
<form action='submitrequest.py' method='post'>
<table border='1' padding='3'>
<tr><td>AI0
        name</td><td>{{formhelper.itemsandvaluestodropdown("ai0nameversion",
        c.aiitems, c.aivalues ) }}</td></tr>
<tr><td>AI0 side</td><td><select id='ai0side' name='ai0side'/></td></tr>
<tr><td>AI1
        name</td><td>{{formhelper.itemsandvaluestodropdown("ai1nameversion",
        c.aiitems, c.aivalues ) }}</td></tr>
<tr><td>AI1 side</td><td><select id='ai1side' name='ai1side'/></td></tr>
<tr><td>Map</td><td>{{formhelper.listtodropdown( 'mapname', c.maps ) }}</td></tr>
<tr><td>Mod</td>
   <td><select id='modname' name='modname' onchange="onModChange();">
   {% for mod in c.mods %}
      <option value='{{mod}}'>{{mod}}</option>
   {% endfor %}
   </select></td></tr>

<tr><td>Options:</td>
<td>
   {% for option in c.options %}
      <input type='checkbox' name='option_{{option}}' >{{option}}</input><br />
   {% endfor %}
</td>
</tr>
<tr><td>Speed:</td><td>{{formhelper.listtodropdown("speed", c.speeds)}}</td></tr>
<tr><td>Soft timeout minutes</td><td>{{formhelper.listtodropdown('softtimeout',
        c.timeouts)}}</td></tr>
<tr><td>Hard timeout minutes</td><td>{{formhelper.listtodropdown('hardtimeout',
        c.timeouts)}}</td></tr>

<tr><td></td><td><input type='submit' value='Submit Request' /></td></tr>
</table>
</form>
<p>Note: Soft timeout specifies the amount of ingame time the match should last. It will wait until the game frame equivalent of specified minutes is reached. Hard timeout will stop the game after a certain amount of time has reached in the real world - it's used as a hard limit for cases when game instances are slown down, most often due to AIs.</p>

{% endblock %}

