{% extends 'menu.html' %}

{% block content %}

<h3>Match results</h3>
{{ c.pager }}
<table border='1' padding='3' class="table table-striped table-hover table-condensed table-bordered">
    <tr class='tablehead' align="center">
        <td rowspan="2">Match ID</td>
        <td colspan="3">First AI</td>
        <td colspan="3">Second AI</td>
        <td rowspan="2">Map</td>
        <td rowspan="2">Mod</td>
        <td rowspan="2">League</td>
        <td rowspan="2">Botrunner</td>
        <td rowspan="2">Time Assigned</td>
        <td rowspan="2">Result</td>
        <td rowspan="2">Info Log</td>
        <td rowspan="2">Replay</td>
    </tr>
    <tr class='tablehead' align="center">
        <td>Name</td>
        <td>Version</td>
        <td>Side</td>
        <td>Name</td>
        <td>Version</td>
        <td>Side</td>
    </tr>
    {% for request in c.requests %}
    <tr align="center">
        <td>{{request.matchrequest_id}}</td>
        <td {% if request.matchresult.matchresult == 'ai0won' and c.spoil == 1 %} class="success" {% endif %} ><a href="{{ h.url(controller='ai', action='view', id=request.ai0.ai_base.ai_base_id) }}">{{request.ai0.ai_base.ai_base_name|e}}</a></td>
        <td {% if request.matchresult.matchresult == 'ai0won' and c.spoil == 1 %} class="success" {% endif %}>{{request.ai0.ai_version|e}}</td>
        <td {% if request.matchresult.matchresult == 'ai0won' and c.spoil == 1 %} class="success" {% endif %}>{{request.ai0_side.mod_side_name|e}}</td>
        <td {% if request.matchresult.matchresult == 'ai1won' and c.spoil == 1 %} class="success" {% endif %} ><a href="{{ h.url(controller='ai', action='view', id=request.ai1.ai_base.ai_base_id) }}">{{request.ai1.ai_base.ai_base_name|e}}</a></td>
        <td {% if request.matchresult.matchresult == 'ai1won' and c.spoil == 1 %} class="success" {% endif %}>{{request.ai1.ai_version|e}}</td>
        <td {% if request.matchresult.matchresult == 'ai1won' and c.spoil == 1 %} class="success" {% endif %}>{{request.ai1_side.mod_side_name|e}}</td>
        <td>{{request.map.map_name|e}}</td>
        <td>{{request.mod.mod_name|e}}</td>
        <td>{% if request.league_id != None %}
            <a href="{{ h.url(controller='league', action='view', id=request.league_id) }}">{{request.league.league_name}}</a>
            {% else %}
            No league
            {% endif %}
        </td>
        <td><a href="{{ h.url(controller='botrunner', action='view', id=request.matchrequestinprogress.botrunner.botrunner_id) }}">{{request.matchrequestinprogress.botrunner.botrunner_name|e}}</a></td>
        <td>{{request.matchrequestinprogress.datetimeassigned.strftime('%H:%M  %d/%m/%y')}}</td>
        {% if c.spoil == 0 %} 
        <td>?
        </td>
        {% else %}
            <td {% if request.matchresult.matchresult == 'crashed' %} class="danger" 
                {% elif request.matchresult.matchresult == 'draw' or request.matchresult.matchresult == 'gametimeout' %} class="warning" 
                {% else %} class="success" {% endif %}
                >{{request.matchresult.matchresult|e}}
            </td>
        {% endif %}
        <td>
            {% if c.infologPaths[request] is defined %}
            <a href='{{c.infologPaths[request]|e}}'>infolog</a>
            {% else %}
            No infolog available
            {% endif %}
        </td>
        <td>
            {% if c.replayPaths[request] is defined %}
            <a href='{{c.replayPaths[request]|e}}'>replay</a>
            {% else %}
            No replay available
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if request.params.has_key('league') %}
    <a href="{{ h.url(controller='matches', action='results')}}?page={{c.page}}&spoil={{1-c.spoil}}&league={{request.params['league']}}" class="btn btn-default">Toggle spoiling</a>
{% else %}
    <a href="{{ h.url(controller='matches', action='results')}}?page={{c.page}}&spoil={{1-c.spoil}}" class="btn btn-default">Toggle spoiling</a>
{% endif %}

{% endblock %}

