{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}
{% block title %}
Leage results
{% endblock title %}
{% block content %}

Pick a league: <form method="get" action="viewleagueresults.py">{{formhelper.listtodropdownwithselected('leaguename', leaguenames,league.league_name)}}
<input type="submit" value="Reload" />
</form>

<h2>Attributes of league '{{league.league_name|e}}'</h2>

<table cellpadding="3">
<tr><td class='tablehead'>Map</td><td {% if not mapok %}class="fail"{% endif %}>{{league.map_name|e}}</td></tr>
<tr><td class='tablehead'>Mod</td><td {% if not modok %}class="fail"{% endif %}>{{league.mod_name|e}}</td></tr>
<tr><td class='tablehead'>Options</td><td>
{% for option in league.options %}
{{option|e}} 
{% endfor %}
&nbsp;</td></tr>
</table>

<h2>AI league results</h2>

<table cellpadding="3">
<tr>
    <td class='tablehead'>AIs</td>
    <td class='tablehead'>Wins:</td>
    <td class='tablehead'>Losses:</td>
    <td class='tablehead'>Draws:</td>
    <td class='tablehead'>Timeouts:</td>
    <td class='tablehead'>Crashes:</td>
    <td class='tablehead'>Total Games:</td>
    <td class='tablehead'>Score:</td>
</tr>
    {% for aistat in aistats %}
    <tr>
        <td class='tablehead'>{{aistat.name|e}} {{aistat.version|e}}</td>
        <td>{{aistat.wins}}</td>
        <td>{{aistat.losses}}</td>
        <td>{{aistat.draws}}</td>
        <td>{{aistat.timeouts}}</td>
        <td>{{aistat.crashes}}</td>
        <td>{{aistat.games}}</td>
        <td>{{aistat.score}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}

