{% extends 'menu.html' %}

{#
Copyright Hugh Perkins 2009
hughperkins@gmail.com http://manageddreams.com

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along
with this program in the file licence.txt; if not, write to the
Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-
1307 USA
You can find the licence also on the web at:
http://www.opensource.org/licenses/gpl-license.php
#}

{% block headtag %}
<script> 
    $(function() {
        $( "#check" ).button();
        $( "#format" ).buttonset();
    });
</script> 
<style> 
    #format { margin-top: 2em; }
</style> 
{% endblock %}

{% import 'formhelper.html' as formhelper %}
{% block bodytag %} onload="onSideModeChange();" {% endblock %}
{% block title %}AILadder - View Leagues{% endblock title %}
{% block content %}
<script type="text/javascript">
    function onSideModeChange() {
        var sidemodesSelect = document.getElementById("sidemodes");
        var description = document.getElementById("description");
        var value = sidemodesSelect.options[sidemodesSelect.selectedIndex].value;
        if (value == "allsame") {
            description.value = "AIs pick one side for the entire league.";
            addSides();
        } else if (value == "xvsy") {
            description.value = "For each match in the number of league matches, AIs play two games against their opponent, swapping sides.";
            addSideCombinations();
        }
    }
function addSides() {
    var modnameSelect = document.getElementById("modname");
    var index = modnameSelect.selectedIndex;
    var sideSelect = document.getElementById("sides");
    while (sideSelect.length != 0) {
        sideSelect.remove(0);
    }

    var items = new Array();
    {% for k, v in c.sides.itervalues() %}
    items[{{k}}] = [
    {% for side in v %}
    ["{{side[0]}}", {{side[1]}}],
        {% endfor %}
    ];
    {% endfor %}
    var selectedItems = items[index];
    for (i in selectedItems) {
        var newOpt = document.createElement("option");
        newOpt.text = selectedItems[i][0];
        newOpt.value = selectedItems[i][1];
        try {
            sideSelect.add(newOpt, null);
        } catch (ex) {
            sideSelect.add(newOpt);
        }
    }
}
function addSideCombinations() {
    var modnameSelect = document.getElementById("modname");
    var index = modnameSelect.selectedIndex;
    var sideSelect = document.getElementById("sides");
    while (sideSelect.length != 0) {
        sideSelect.remove(0);
    }

    var items = new Array();
    {% for k, v in c.sides.itervalues() %}
    items[{{k}}] = [
    {% for firstSide in v %}
    {% for secondSide in v %}
    {% if firstSide != secondSide %}
    ["{{firstSide[0]}} vs {{secondSide[0]}}", "{{firstSide[1]}}vs{{secondSide[1]}}"],
        {% endif %}
    {% endfor %}
    {% endfor %}
    ];
    {% endfor %}
    var selectedItems = items[index];
    for (i in selectedItems) {
        var newOpt = document.createElement("option");
        newOpt.text = selectedItems[i][0];
        newOpt.value = selectedItems[i][1];
        try {
            sideSelect.add(newOpt, null);
        } catch (ex) {
            sideSelect.add(newOpt);
        }
    }
}
function swapAI(first, second) {
    var lastIndex = 0;
    var selectedOptions = [];
    while (first.selectedIndex != -1) {
        var option = first.options[first.selectedIndex];
        selectedOptions.push(option);
        lastIndex = first.selectedIndex;
        first.remove(first.selectedIndex);
        try {
            second.add(option, null);
        } catch (ex) {
            second.add(option);
        }
    }
    for (i in selectedOptions) {
        selectedOptions[i].selected = false;
    }
    if (first.length < lastIndex + 1) {
        lastIndex = first.length - 1;
    }
    if (lastIndex >= 0) {
        first.options[lastIndex].selected = true;
    }
}
function addAI() {
    var unselectedAI = document.getElementById("unselectedais");
    var selectedAI = document.getElementById("selectedais");
    swapAI(unselectedAI, selectedAI);
}
function removeAI() {
    var selectedAI = document.getElementById("selectedais");
    var unselectedAI = document.getElementById("unselectedais");
    swapAI(selectedAI, unselectedAI);
}
function checkForm() {
    var selectedAI = document.getElementById("selectedais");
    for (option in selectedAI.options) {
        selectedAI.options[option].selected = true;
    }
    return true; //lazy
}
function clearSelectedAISelection() { //better name pls
    var selectedAI = document.getElementById("selectedais");
    selectedAI.selectedIndex = -1;
}
function clearUnselectedAISelection() { //better name pls
    var unselectedAI = document.getElementById("unselectedais");
    unselectedAI.selectedIndex = -1;
}
</script>

<p>A league is a specific game configuration used for testing AIs against each other</p>
<p>For example, a league could be a specific map, mod, and certain options, like say cheating on, or cheating off</p>
<p>You can group leagues together in leaguegroups.</p>
<table padding='3'>
    <tr class='tablehead'>
        <td>League Name:</td>
        <td>Mod Name</td>
        <td>Map Name</td>
        <td>Number matches per AI pair</td>
        <td>Assigned options</td>
    </tr>

    {% for league in c.leagues %}
    <tr>
        <td><a href='{{ url(controller='league', action='view', id=league.league_id) }}'>{{league.league_name|e}}</a></td>
        <td>{{league.mod_name|e}}</td>
        <td>{{league.map_name|e}}</td>
        <td>{{league.nummatchesperaipair}}</td>
        <td>
            {% for option in league.options %}
            {{option.option_name|e}}
            {% endfor %}
            &nbsp;
        </td>
        {% if c.showForm %}
        <td>
            <a href="{{ h.url(controller='league', action='remove', id=league.league_id) }}">Delete league</a>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

{% if c.showForm %}

<p />
<hr />
<p />

<h2>Create new league:</h2>
<form action='{{ h.url(controller='league', action='add') }}' method='post' onsubmit="return checkForm();">
    <table padding='3'>
        <tr><td>League name</td><td><input name='leagueName'/></td></tr>
        <tr><td>Mod name</td><td>
                <select name="modId" id="modname" onchange="onSideModeChange();">
                    {% for k, v in c.mods.iteritems() %}
                    <option value="{{k|e}}">{{v|e}}</option>
                    {% endfor %}</td></tr>
            <tr><td>Map name</td><td>
                    <select name="mapId" id="mapname">
                        {% for k, v in c.maps.iteritems() %}
                        <option value="{{k|e}}">{{v|e}}</option>
                        {% endfor %}
                    </td>
                </tr>
                <tr><td>Matches per AI and side selection</td><td>{{formhelper.listtodropdown( 'nummatchesperaipair', range(1,21) )}}</td></tr>
                <tr><td>Play against self</td><td><input type="checkbox" name="playagainstself"/></td></tr>
                <tr><td>Speed</td><td>{{formhelper.listtodropdown('speed', c.speeds)}}</td></tr>
                <tr><td>Soft timeout minutes</td><td>{{formhelper.listtodropdown('softtimeout', c.timeouts)}}</td></tr>
                <tr><td>Hard timeout minutes</td><td>{{formhelper.listtodropdown('hardtimeout', c.timeouts)}}</td></tr>
                <tr><td>League side selection type</td><td>
                        <select id="sidemodes" name="sidemodes" onchange="onSideModeChange();">
                            {% for k, v in c.sidemodes.iteritems() %}
                            <option value="{{k|e}}">{{v|e}}</option>
                            {% endfor %}</td></tr>
                    <tr><td>Side selection type description</td><td>
                            <textarea rows="5" cols="60" id="description" readonly="true"> 
                            </textarea>
                    </td></tr>
                    <tr><td>League sides</td><td>
                            <select id="sides" name="sides" />
                        </td></tr>
                        <tr>
                            <td>AIs</td>
                            <td><div id="format">
                                <ul>
                                    {% for k, v in c.ais.iteritems() %}
                                    <li>
                                    <input type="checkbox" id="ai_checkbox_{{k|e}}" name="ai_checkbox_{{k|e}}"/>
                                    <label for="ai_checkbox_{{k|e}}">{{v|e}}</label>
                                    </li>
                                    {% endfor %}
                                </ul>          
                            </div>
                            </td>
                        </tr>

                        <tr><td></td><td><input type='submit' value='Add' /></td></tr>
                    </table>
                </form>
                <p>Note: Soft timeout specifies the amount of ingame time the match should last. It will wait until the game frame equivalent of specified minutes is reached. Hard timeout will stop the game after a certain amount of time has reached in the real world - it's used as a hard limit for cases when game instances are slown down, most often due to AIs.</p>
                {% endif %}


                {% endblock %}

