{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}
{% block content %}

<h3>SpringGrid - View AI {{c.ai.ai_base_name}} {{c.ai.ai_version}}</h3>

{% if c.showForm %}
<h4>Update AI properties</h4>

<form method='post' action='{{ h.url(controller='ai', action='update', id=c.ai.ai_id) }}'>
<table>
    <tr>
        <td>Download url</td>
        <td><input name='downloadurl' value="{{c.ai.ai_downloadurl|e}}"/></td>
    </tr>
    <tr>
        <td>Needs compiling?</td>
        <td><select name="needscompiling">{% if c.ai.ai_needscompiling %}<option value="yes" selected="selected">Yes</option><option value="no">No</option>{% else %}<option value="yes">Yes</option><option value="no" selected="selected">No</option>{% endif %}</select></td>
    </tr>
    <tr>
        <td></td>
        <td><input type='submit' value='Update' /></td>
    </tr>
</table>
</form>
{% endif %}

<table>
    <tr>
        <td>AI Version</td>
    </tr>
    {% for i in c.ai.versions %}
    <tr>
        <td>{{ i.ai_version }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

