{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}
{% block content %}

<h3>SpringGrid - View AI {{c.ai.ai_name}} {{c.ai.ai_version}}</h3>

{% if c.showForm %}
<h4>Update AI properties</h4>

<form method='post' action='{{ h.url(controller='ai', action='update', id=c.ai.ai_id) }}'>
<table>
    <tr>
        <td>Download url</td>
        <td><input name='downloadurl' value="{{c.ai.ai_downloadurl|e}}"/></td>
    </tr>
    <tr>
        <td>Needs compiling?</td>
        <td><select name="needscompiling">{% if c.ai.ai_needscompiling %}<option value="yes" selected="selected">Yes</option><option value="no">No</option>{% else %}<option value="yes">Yes</option><option value="no" selected="selected">No</option>{% endif %}</select></td>
    </tr>
    <tr>
        <td></td>
        <td><input type='submit' value='Update' /></td>
    </tr>
</table>
</form>
{% endif %}

<h4>Configure AI options</h4>

<p>Configure the options compatible with one ai</p>
<p>For example, if it can run when cheating is allowed, then add the option 'cheatingallowed', or, if it can run when cheating is banned, then add the option 'cheatingequalslose'.</p>

<table border='1' padding='3'>
    <tr>
        <td>Compatible options</td>
        <td></td>
    </tr>

{% for option in c.ai.allowedoptions %}
   <tr>
   <td>{{option.option_name|e}}</td>
   <td><a href='deleteoptionfromai.py?ainame={{c.ai.ai_name|e}}&aiversion={{c.ai.ai_version|e}}&aioption={{option.option_name|e}}'>Remove option</a></td>
   </tr>
{% endfor %}
</table>

{% if c.showForm %}
   <p />
   <hr />
   <p />

   <h4>Add new compatible options:</h4>

   <form action='addoptiontoai.py' method='post'>
   <table border='1' padding='3'>
       <tr>
           <td>Option to add:</td>
           <td>{{formhelper.listtodropdown( 'aioption', potentialoptions )}}</td>
       </tr>
       <tr>
           <td></td>
           <td><input type='submit' value='Add' /></td>
       </tr>
       </table>
   </form>
{% endif %}

{% endblock %}

