{% extends 'menu.html' %}

{#
Copyright Hugh Perkins 2009
hughperkins@gmail.com http://manageddreams.com

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along
with this program in the file licence.txt; if not, write to the
Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-
1307 USA
You can find the licence also on the web at:
http://www.opensource.org/licenses/gpl-license.php
#}

{% block headtag %}
<script> 
    $(function() {
        $( "#check" ).button();
        $( "#format" ).buttonset();
    });
</script> 
<style> 
    #format { margin-top: 2em; }
</style> 
{% endblock %}

{% import 'formhelper.html' as formhelper %}
{% block bodytag %} onload="onSideModeChange();" {% endblock %}
{% block title %}AILadder - View Leagues{% endblock title %}
{% block content %}
<script type="text/javascript">
    function onSideModeChange() {
        var sidemodesSelect = document.getElementById("sidemodes");
        //var description = document.getElementById("description");
        var value = sidemodesSelect.options[sidemodesSelect.selectedIndex].value;
        if (value == "allsame") {
            //description.value = "AIs pick one side for the entire league.";
            addSides();
        } else if (value == "xvsy") {
            //description.value = "For each match in the number of league matches, AIs play two games against their opponent, swapping sides.";
            addSideCombinations();
        }
    }
function addSides() {
    var modnameSelect = document.getElementById("modname");
    var index = modnameSelect.selectedIndex;
    var sideSelect = document.getElementById("sides");
    while (sideSelect.length != 0) {
        sideSelect.remove(0);
    }

    var items = new Array();
    {% for k, v in c.sides.itervalues() %}
        items[{{k}}] = [
        {% for side in v %}
            ["{{side[0]}}", {{side[1]}}],
        {% endfor %}
        ];
    {% endfor %}
    var selectedItems = items[index];
    for (i in selectedItems) {
        var newOpt = document.createElement("option");
        newOpt.text = selectedItems[i][0];
        newOpt.value = selectedItems[i][1];
        try {
            sideSelect.add(newOpt, null);
        } catch (ex) {
            sideSelect.add(newOpt);
        }
    }
}
function addSideCombinations() {
    var modnameSelect = document.getElementById("modname");
    var index = modnameSelect.selectedIndex;
    var sideSelect = document.getElementById("sides");
    while (sideSelect.length != 0) {
        sideSelect.remove(0);
    }

    var items = new Array();
    {% for k, v in c.sides.itervalues() %}
        items[{{k}}] = [
        {% for firstSide in v %}
            {% for secondSide in v %}
                {% if firstSide != secondSide %}
                ["{{firstSide[0]}} vs {{secondSide[0]}}", "{{firstSide[1]}}vs{{secondSide[1]}}"],
                {% endif %}
            {% endfor %}
        {% endfor %}
        ];
    {% endfor %}
    var selectedItems = items[index];
    for (i in selectedItems) {
        var newOpt = document.createElement("option");
        newOpt.text = selectedItems[i][0];
        newOpt.value = selectedItems[i][1];
        try {
            sideSelect.add(newOpt, null);
        } catch (ex) {
            sideSelect.add(newOpt);
        }
    }
}
function swapAI(first, second) {
    var lastIndex = 0;
    var selectedOptions = [];
    while (first.selectedIndex != -1) {
        var option = first.options[first.selectedIndex];
        selectedOptions.push(option);
        lastIndex = first.selectedIndex;
        first.remove(first.selectedIndex);
        try {
            second.add(option, null);
        } catch (ex) {
            second.add(option);
        }
    }
    for (i in selectedOptions) {
        selectedOptions[i].selected = false;
    }
    if (first.length < lastIndex + 1) {
        lastIndex = first.length - 1;
    }
    if (lastIndex >= 0) {
        first.options[lastIndex].selected = true;
    }
}
function addAI() {
    var unselectedAI = document.getElementById("unselectedais");
    var selectedAI = document.getElementById("selectedais");
    swapAI(unselectedAI, selectedAI);
}
function removeAI() {
    var selectedAI = document.getElementById("selectedais");
    var unselectedAI = document.getElementById("unselectedais");
    swapAI(selectedAI, unselectedAI);
}
function checkForm() {
    var selectedAI = document.getElementById("selectedais");
    for (option in selectedAI.options) {
        selectedAI.options[option].selected = true;
    }
    return true; //lazy
}
function clearSelectedAISelection() { //better name pls
    var selectedAI = document.getElementById("selectedais");
    selectedAI.selectedIndex = -1;
}
function clearUnselectedAISelection() { //better name pls
    var unselectedAI = document.getElementById("unselectedais");
    unselectedAI.selectedIndex = -1;
}
</script>

<p>A league is a specific game configuration used for testing AIs against each other</p>
<p>For example, a league could be a specific map, mod, and certain options, like say cheating on, or cheating off</p>
<table class="table">
    <tr class='tablehead'>
        <td>Name</td>
        <td>Game</td>
        <td>Map</td>
        <td>Matches per AI pair</td>
        <td>Options</td>
    </tr>

    {% for league in c.leagues %}
    <tr>
        <th><a href='{{ url(controller='league', action='view', id=league.league_id) }}'>{{league.league_name|e}}</a></th>
        <td>{{league.mod_name|e}}</td>
        <td>{{league.map_name|e}}</td>
        <td>{{league.nummatchesperaipair}}</td>
        <td>
            {% for option in league.options %}
            {{option.option_name|e}}
            {% endfor %}
            &nbsp;
        </td>
        {% if c.showForm %}
        <td>
            <a href="{{ h.url(controller='league', action='remove', id=league.league_id) }}">Delete league</a>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

{% if c.showForm %}

<p />
<hr />
<p />

<div class="extraMapTemplate">
	<div class="form-group">
		<select class="form-control" name=mapId>
			{% for k, v in c.maps.iteritems() %}
				<option value="{{k|e}}">{{v|e}}</option>
			{% endfor %}
		</select>
	</div>
</div>

<h3 class="col-sm-offset-5">Create new league</h3>
<form action='{{ h.url(controller='league', action='add') }}' method='post' onsubmit="return checkForm();" class="col-md-3 col-md-offset-4" >
	<div class="form-group">
		<label for="leagueName" class="control-label">League Name</label>
		<input name='leagueName' class="form-control"/>
	</div>
	<div class="form-group">
		<label for="modId" class="control-label">Game</label>
		<select class="form-control" name="modId" id="modname" onChange="onSideModeChange();">
				{% for k, v in c.mods.iteritems() %}
				<option value="{{k|e}}">{{v|e}}</option>
			{% endfor %}
		</select>
	</div>
	<label for="mapId" class="control-label">Map pool</label>
	<div id='form-content'>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-default" id ="addMap" aria-label="Left Align">
		<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"> Map</span>
		</button>	
	</div>
	<div class="form-group">
		<label for="nummatchesperaipair" class="control-label">Matches per AI and side selection</label>
		<select class="form-control" name="nummatchesperaipair">
			{% for i in range(1, 21) %}
				<option value='{{i}}'>{{i}}</option>
			{% endfor %}
		</select>
	</div>
    <div class="checkbox">
        <label for="playagainstself">
            <input type="checkbox" name="playagainstself"> Play against self
        </label>
    </div>
	<div class="form-group">
		<label for="speed" class="control-label">Speed</label>
		<select class="form-control" name="speed">
			{% for speed in c.speeds %} 
				<option value='{{ speed }}'>{{ speed }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="softtimeout" class="control-label">Soft timeout</label>
		<select class="form-control" data-toggle="tooltip" data-placement="bottom" title=" Soft timeout specifies the amount of ingame time the match should last. It will wait until the game frame equivalent of specified minutes is reached." name="softtimeout">
			{% for timeout in c.timeouts %} 
				<option value='{{ timeout }}'>{{ timeout }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="hardtimeout" class="control-label">Hard timeout</label>
		<select class="form-control"  data-toggle="tooltip" data-placement="bottom" title=" Hard timeout will stop the game after a certain amount of time has reached in the real world - it's used as a hard limit for cases when game instances are slown down, most often due to AIs." name="hardtimeout">
			{% for timeout in c.timeouts %} 
				<option value='{{ timeout }}'>{{ timeout }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="sidemodes" class="control-label">Side selection</label>
		<select id="sidemodes" name="sidemodes" onchange="onSideModeChange();" class="form-control" data-toggle="tooltip" data-placement="bottom" title='All same: AIs pick one side for the entire league.
X vs Y: For each match in the number of league matches, AIs play two games against their opponent, swapping sides.'>
			{% for k, v in c.sidemodes.iteritems() %}
				<option value="{{k|e}}">{{v|e}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="sides" class="control-label">Sides</label>
		<select id="sides" name="sides" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label for="AI" class="control-label">AIs</label>
		<ul>
		{% for k, v in c.ais.iteritems() %}
			<li>
			<input type="checkbox" id="ai_checkbox_{{k|e}}" name="ai_checkbox_{{k|e}}"/>
			<label for="ai_checkbox_{{k|e}}">{{v|e}}</label>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="form-group">
		<input type='submit' value='Create League' class="btn btn-primary"/>
	</div>
</form>
{% endif %}
{% endblock %}

{% block postLoadScripts %}
<script>
	$(document).ready(function () {
		// Add one map initially
		$('<div/>', {
			'class' : 'extraMap', html: GetHtml()
		}).appendTo('#form-content');

		// Add maps on click
		$('#addMap').click(function () {
			$('<div/>', {
				'class' : 'extraMap', html: GetHtml()
		}).appendTo('#form-content');

		});
	})
	function GetHtml() //Get the template and update the input field names
	{
		var len = $('.extraMap').length;
		var $html = $('.extraMapTemplate').clone();
	    $html.find('[name=mapId]')[0].name='mapId' + len;
		return $html.html();
	}
</script>
{% endblock %}

